<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Friend Requests</title>

<head th:replace="layout::head"></head>

<body class="w3-theme-l5">
<!--Narbar-->
<nav th:fragment="menu">
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a th:href="@{/home}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><img th:src="@{/logo1.png}" alt=""
                                                                                                  width="35px" height="35px"></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
               title="Friend Requests"><i class="fa fa-user"></i><span
                    class="w3-badge w3-right w3-small w3-green">3</span></a>


            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span
                        class="w3-badge w3-right w3-small w3-green">3</span></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                    <a href="#" class="w3-bar-item w3-button">One new friend request</a>
                </div>
            </div>

            <!--search post-->
            <div class="w3-dropdown-hover w3-hide-small">
                <form th:action="@{/search-post-by-content}" method="post">
                    <div style="width: fit-content;margin:auto; height: fit-content">


                        <input type="text" th:name="searchContent" placeholder="Search post" style="color: black;width: 130px"/>
                        <label for="mySubmit" class="btn"><i class="fa fa-search icon fa-lg"></i></label>
                        <input id="mySubmit" type="submit" class="hidden" />
                    </div>
                </form>

                </form>
            </div>
            <!--search post end-->

            <!--search user-->
            <div class="w3-dropdown-hover w3-hide-small">
                <form th:action="@{/search-user-by-name}" method="post">
                    <div style="width: fit-content;margin:auto; height: fit-content">


                        <input type="text" th:name="searchName" placeholder="Search user" style="color: black;width: 130px"/>
                        <label for="Submit" class="btn"><i class="fa fa-search icon fa-lg"></i></label>
                        <input id="Submit" type="submit" class="hidden" />
                    </div>
                </form>

                </form>
            </div>
            <!--search user end-->


            <!--logout button-->
            <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large"
               title="Logout">
                <img th:src="${'../'+user.getAvatarURL()}" class="w3-circle" style="height:30px;width:30px" alt="Avatar">
            </a>
            <!--logout button end-->

        </div>
    </div>
</nav>
<!--Narbar End-->

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <div class="w3-row">


        <!-- Left Column -->
        <div th:fragment="leftcolumn" class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center" th:text="${user.userName}"></h4>
                    <p class="w3-center"><img th:src="${'../' + user.getAvatarURL()}" class="w3-circle"
                                              style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <p><i class="fa fa-id-card fa-fw w3-margin-right w3-text-theme"></i><span th:if="${user.firstName != null}" th:text="${user.firstName} + ' ' + ${user.lastName}"></span></p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i><span th:text="${user.city}"></span></p>
                    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i><span th:text="${user.dateOfBirth}"></span></p>
                    <p><i class="fa fa-venus-mars fa-fw w3-margin-right w3-text-theme"></i><span th:text="${user.gender}"></span></p>
                    <p><i class="fa fa-mobile fa-fw w3-margin-right w3-text-theme"></i><span  th:text="${user.phone}"></span></p>
                    <p><i class="fa fa-user-circle-o fa-fw w3-margin-right w3-text-theme"></i><span th:text="${user.about}"></span></p>
                    <br>
                    <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i><a th:href="@{/editprofile}">edit</a>

                </div>
            </div>
        </div>
        <!-- Left Column End-->

        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">


                        <!-- user 1-->
                        <div class="w3-container w3-padding">
                            <ul style="list-style-type: none">
                                <li>
                                    <div class="form-inline">
                                        <img src="/img/avatar.jpg" alt="Avatar"
                                             style="width:50px; height:50px; border-radius: 50%">
                                        <a href="" style="padding-left: 15px">Jane Doe</a>
                                        <button style="margin-left: 150px">Unfriend
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- user 1 end -->
                    </div>
                </div>
            </div>


            <!-- End Middle Column -->
        </div>
        <!-- Middle Column End-->

        <!-- Right Column -->
        <div th:replace="layout::rightcolumn"></div>
        <!-- End Right Column -->


    </div>
</div>
<br>

<!-- Footer -->
<footer th:replace="layout::footer"></footer>
<!-- Footer End -->
</body>
</html>
