<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}">
</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-user"></i> <span class="badge badge-pill badge-success align-top">10</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-bell"></i> <span class="badge badge-pill badge-success align-top">10</span></a>
            </li>
        </ul>
    </div>
    <form class="form-inline" th:action="@{/search-post-by-content}" method="post">
        <input class="form-control mr-sm-2" type="search" th:name="searchContent" placeholder="Search post" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
</nav>
<div class="container-fluid mt-4">
    <div class="row">
        <!--- menu left -->
        <div class="col-md-3 d-none d-md-block">
            <div class="card">
                <div class="card-body">
                    <img th:src="${'../' + user.getAvatarURL()}" class="mx-auto d-block rounded-circle img-fluid" style="width: 106px;height: 106px;" alt="...">
                    <h5 class="mt-0 pt-3 text-center" th:text="${user.userName}"><a th:href="@{/editprofile}"><i class="fas fa-edit"></i></a></h5>
                    <p><i class="fas fa-id-card mr-2"></i> <span th:if="${user.firstName != null}" th:text="${user.firstName} + ' ' + ${user.lastName}"></span></p>
                    <p><i class="fas fa-home mr-2"></i> <span th:text="${user.city}"></span></p>
                    <p><i class="fas fa-birthday-cake mr-2"></i> <span th:text="${user.dateOfBirth}"></span></p>
                    <p><i class="fas fa-venus-mars mr-2"></i> <span th:text="${user.gender}"></span></p>
                    <p><i class="fas fa-mobile mr-2"></i> <span th:text="${user.phone}"></span></p>
                    <p><i class="far fa-user-circle mr-2"></i> <span th:text="${user.about}"></span></p>
                </div>
            </div>
        </div>
        <!-- new feed -->
        <div class="col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <form th:action="@{/create-post}" enctype="multipart/form-data" method="post" th:object="${post}">
                        <div class="form-group">
                            <textarea name="content" id="content" rows="2" class="form-control" placeholder="What's on your mind?" th:field="*{content}"></textarea>
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="fileInput" class="btn btn-secondary btn-sm">
                                <i class="fas fa-camera"></i>
                            </label>
                            <input type="file" id="fileInput" style="display: none" name="image" th:field="*{image}">
                        </div>
                        <div class="form-check form-check-inline">
                            <input th:field="*{status}" value="true" class="form-check-input" type="radio" id="publicCheck">
                            <label class="form-check-label" for="publicCheck">Public</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input th:field="*{status}" value="false" class="form-check-input" type="radio" id="friendCheck">
                            <label class="form-check-label" for="friendCheck">Friend</label>
                        </div>
                        <button class="btn btn-primary btn-sm" type="submit" data-toggle="tooltip" data-placement="top" title="Post"><i class="fas fa-pencil-alt"></i> Post</button>
                    </form>
                </div>
            </div>
            <th:block th:each="post:${posts}">
            <div class="card shadow-sm mb-2">
                <div class="card-header">
                    <div class="media">
                        <img th:src="${'../'+post.appUser.avatarURL}" class="align-self-center mr-3 rounded-circle" style="width: 60px; height: 60px" alt="...">
                        <div class="media-body">
                            <a th:href="@{/show-personal-page/__${post.appUser.userId}__}"><h5 class="mt-0 pt-3" th:text="${post.appUser.userName}"></h5></a>
                        </div>
                        <span class="text-right" th:text="${post.date}"></span>
                    </div>
                </div>
                <div class="card-body">
                    <p>#<a th:href="@{/find-by-tag/__${post.postID}__}"><span th:text="${post.tag}"></span></a></p>
                    <p style="white-space: pre;" th:utext="${post.content}"></p>
                    <p th:if="${!#strings.isEmpty(post.imageUrl)}">
                        <img th:src="${'../'+post.imageUrl}" class="img-fluid" alt="Responsive image">
                    </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Like"><i class="fas fa-thumbs-up"></i>
                        (<span>10</span>) Like</button>
                    <button class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Comment"><i class="fas fa-comment"></i> Comment</button>
                </div>
            </div>
            </th:block>
        </div>
        <!-- add friend -->
        <div class="col-md-3">
            <div class="card shadow-sm mb-2">
                <div class="card-body text-center">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="1000">
                                <img th:src="@{leeminho.jpg}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="1000">
                                <img th:src="@{leeminho.jpg}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-interval="1000">
                                <img th:src="@{leeminho.jpg}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm mb-2">
                <div class="card-body text-center">
                    <i class="fas fa-bug display-2"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="application/javascript">
    $(document).ready(function() {
        $('.carousel').carousel();
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>
