<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Home</title>

<head th:replace="layout::head"></head>



<body class="w3-theme-l5" onload="loadUserFriend(), commentSuccess(), likeSuccess()">
<!--Narbar-->
<nav th:fragment="menu">
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a th:href="@{/home}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><img th:src="@{/logo1.png}"
                                                                                                  alt=""
                                                                                                  width="35px"
                                                                                                  height="35px"></a>
            <!--        TOAN QUẢ CHUÔNG-->
            <div class="w3-dropdown-hover w3-hide-small" >
                <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-user"></i><span
                        class="w3-badge w3-right w3-small w3-green" id="signalNumber">

                </span></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:500px">
                    <span class="w3-bar-item w3-button" id="friendListRequest"></span>
                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span
                        class="w3-badge w3-right w3-small w3-green">

                </span></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                    <span class="w3-bar-item w3-button"></span>
                </div>

            </div>



            <!--search post-->
            <div class="w3-dropdown-hover w3-hide-small">
                <form th:action="@{/search-post-by-content}" method="post">
                    <div style="width: fit-content;margin:auto; height: fit-content">


                            <input type="text" th:name="searchContent" placeholder="Search post" style="color: black;width: 130px"/>
                            <label for="mySubmit" class="btn"><i class="fa fa-search icon fa-lg"></i></label>
                            <input id="mySubmit" type="submit" class="hidden"/>
                    </div>
                </form>

                </form>
            </div>
            <!--search post end-->

            <!--search user-->
            <div class="w3-dropdown-hover w3-hide-small">
                <form th:action="@{/search-user-by-name}" method="post">
                    <div style="width: fit-content;margin:auto; height: fit-content">


                        <input type="text" th:name="searchName" placeholder="Search user"
                               style="color: black;width: 130px"/>
                        <label for="Submit" class="btn"><i class="fa fa-search icon fa-lg"></i></label>
                        <input id="Submit" type="submit" class="hidden"/>
                    </div>
                </form>

                </form>
            </div>
            <!--search user end-->


            <!--logout button-->
            <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large"
               title="Logout">
                <img th:src="${'../'+user.getAvatarURL()}" class="w3-circle" style="height:30px;width:30px"
                     alt="Avatar">
            </a>
            <!--logout button end-->

        </div>
    </div>
</nav>
<!--Narbar End-->



<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div th:fragment="leftcolumn" class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <a th:href="@{/show-personal-page/__${user.userId}__}"><h4 class="w3-center"
                                                                               th:text="${user.userName}"></h4></a>
                    <a th:href="@{/show-personal-page/__${user.userId}__}"><p class="w3-center"><img
                            th:src="${'../' + user.getAvatarURL()}" class="w3-circle"
                            style="height:106px;width:106px" alt="Avatar"></p></a>
                    <hr>
                    <p><i class="fa fa-id-card fa-fw w3-margin-right w3-text-theme"></i><span
                            th:if="${user.firstName != null}"
                            th:text="${user.firstName} + ' ' + ${user.lastName}"></span></p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i><span
                            th:text="${user.city}"></span></p>
                    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i><span
                            th:text="${user.dateOfBirth}"></span></p>
                    <p><i class="fa fa-venus-mars fa-fw w3-margin-right w3-text-theme"></i><span
                            th:text="${user.gender}"></span></p>
                    <p><i class="fa fa-mobile fa-fw w3-margin-right w3-text-theme"></i><span
                            th:text="${user.phone}"></span></p>
                    <p><i class="fa fa-user-circle-o fa-fw w3-margin-right w3-text-theme"></i><span
                            th:text="${user.about}"></span></p>
                    <br>
                    <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i><a
                        th:href="@{/editprofile}">edit</a>

                </div>
            </div>
        </div>
        <!-- Left Column End-->

        <!-- Middle Column-->
        <div class="w3-col m7">

            <!--Write something-->
            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <form class="w3-container w3-padding" th:action="@{/create-post}" enctype="multipart/form-data"
                              method="post" th:object="${post}">
                            <textarea id="content" cols="93" rows="3" th:field="*{content}"></textarea>
                            <div class="form-inline">
                                <div class="control-group custom-control-inline">
                                    <label for="FileInput">
                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                    </label>
                                    <input type="file" id="FileInput" style="display: none" th:field="*{image}">


                                    <div class="radio" style="padding-left: 15px">
                                        <label><input type="radio" th:field="*{status}" checked
                                                      value="true">Public</label>
                                    </div>
                                    <div class="radio" style="padding-left: 15px">
                                        <label><input type="radio" th:field="*{status}" value="false">Friend</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <input type="submit" class="w3-button w3-theme" th:value="Post">
                        </form>
                    </div>
                </div>
            </div>
            <th:block th:each="post:${posts}">
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    <img th:src="${'../'+post.appUser.avatarURL}" class="w3-left w3-circle w3-margin-right" width="65px"
                         height="65px">
                    <span class="w3-right w3-opacity" th:text="${post.date}"></span>
                    <a th:href="@{/show-personal-page/__${post.appUser.userId}__}"><h4
                            th:text="${post.appUser.userName}"></h4></a><br>
                    <hr class="w3-clear">
<!--                    ở đây không có tag nữa và phải thêm class entry vào thẻ div-->
                    <div class="entry">
                    <p style="white-space: pre;" th:utext="${post.content}"></p>
                    </div>
                    <p th:if="${!#strings.isEmpty(post.imageUrl)}">
                        <img th:src="${'../'+post.imageUrl}" class="postimage"/>
                    </p>

                    <!--Minh Beos đã ở đây-->
                    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" th:name="${post.postID}"
                            onclick="likePost(this)">
                        <i class="fa fa-thumbs-up"></i>
                        <span th:id="'likeCount' + ${post.postID}">0</span>
                    </button>
                    <hr>

                    <!--Comment area-->
                    <div th:id=" 'postCommentArea' + ${post.getPostID()}">
                        <tr>
                            <td><img width="50px" height="50px" style="border-radius: 50%"></td>
                            <td>
                                <span style="padding-left: 10px">Bi Rain</span><span
                                    style="padding-left: 10px;font-size: small">3 phút trước</span>
                                <p style="padding-left: 100px">Tớ cũng buồn</p>
                            </td>
                        </tr>
                    </div>

                    <!--Minh Beos đã ở đây Comment area end-->


                    <!--                    post your comment-->
                    <div>
<!--                        <tr>-->
<!--                            <td><img th:src="${'../' + user.getAvatarURL()}" +  width="50px" height="50px" style="border-radius: 50%"></td>-->
<!--                            <td style="padding-left: 20px">-->
<!--                                <input type="text" placeholder="Post your comment" style="width: 350px" th:id="'postCommentContent' + ${post.getPostID()}">-->
<!--                                <button th:id="${post.getPostID()}" onclick="createPostComment(this)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>-->
<!--                            </td>-->
<!--                        </tr>-->
                        <!-- Tuan Anh Refactor Comment -->
                        <tr>
                            <form th:id="${post.getPostID()}" onsubmit="createPostComment2(this); return false;">
                            <td><img th:src="${'../' + user.getAvatarURL()}" +  width="50px" height="50px" style="border-radius: 50%"></td>
                            <td style="padding-left: 20px">
                                <input name="comment" type="text" placeholder="Post your comment" style="width: 350px" th:id="'postCommentContent' + ${post.getPostID()}">
                                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </td>
                            </form>
                        </tr>
                        <script>
                            function likePost(element) {
                                $.ajax({
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    type: "PUT",
                                    url: '/api/likepost/' + element.name,
                                    success: function () {
                                        likeSuccess();
                                    }
                                })
                            }

                            function likeSuccess() {
                                $.ajax({
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    type: "GET",
                                    url: "/api/getallpostlike",
                                    success: function (response) {
                                        fillLikeField(response);
                                    }
                                })
                            }
                            function fillLikeField(list) {
                                if (!list.isEmpty){
                                    let numberOfLikeAreas = [`${list[0].post.postID}`];
                                    for (let i = 0; i < list.length ; i++) {
                                        if (!numberOfLikeAreas.includes(`${list[i].post.postID}`)){
                                            numberOfLikeAreas.push(`${list[i].post.postID}`);
                                        }
                                    }
                                    for (let i = 0; i < numberOfLikeAreas.length; i++) {
                                        let likeCount = 0;
                                        for (let j = 0; j < list.length; j++) {
                                            if (numberOfLikeAreas[i] == `${list[j].post.postID}`){
                                                likeCount++;
                                            }
                                        }
                                        document.getElementById('likeCount' + numberOfLikeAreas[i]).innerText = likeCount;
                                    }
                                }
                            }

                            function createPostComment2(element) {
                                let postId = element.id;
                                let json = {
                                    comment: element.comment.value,
                                }
                                $.ajax({
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    type: 'PUT',
                                    url: '/api/createpostcomment/' + postId,
                                    data: JSON.stringify(json),
                                    success:function (postId) {
                                        commentSuccess(postId);
                                        element.comment.value = "";
                                    }
                                })
                            }
                            <!-- End Tuan Anh Refactor Comment -->
                            function createPostComment(element) {
                                let commentField;
                                let input = element.id;
                                if (input.includes('postCommentContent')){
                                    commentField = document.getElementById(element);
                                } else {
                                    commentField = document.getElementById('postCommentContent' + element.id)
                                }
                                let commentData = commentField.value;
                                let postId = element.id;
                                let json = {
                                    comment: commentData,
                                }
                                $.ajax({
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    type: 'PUT',
                                    url: '/api/createpostcomment/' + postId,
                                    data: JSON.stringify(json),
                                    success:function (postId) {
                                        commentSuccess(postId);
                                        commentField.value = "";
                                    }
                                })
                            }

                            function commentSuccess() {
                                $.ajax({
                                    headers: {
                                        'Accept': 'application/json',
                                        'Content-Type': 'application/json'
                                    },
                                    type: 'GET',
                                    url: '/api/getallpostcomment',
                                    success: function (response) {
                                        let numberOfAreas = [`${response[0].post.postID}`]
                                        for (let i = 1; i < response.length ; i++) {
                                            if (!numberOfAreas.includes(`${response[i].post.postID}`)) numberOfAreas.push(`${response[i].post.postID}`)
                                        }

                                        for (let i = 0; i < numberOfAreas.length ; i++) {
                                            let content = '';
                                            for (let j = 0; j < response.length ; j++) {
                                                if (numberOfAreas[i] == `${response[j].post.postID}`){
                                                    content += getComment(response[j]);
                                                }
                                            }
                                            document.getElementById('postCommentArea' + numberOfAreas[i]).innerHTML = content;
                                        }
                                    }
                                })
                            }

                            function getComment(postComment) {
                                return  `<tr>`+
                                            `<td><img src="${postComment.user.avatarURL}" width="50px" height="50px" style="border-radius: 50%"></td>` +
                                            `<td><span style="padding-left: 10px">${postComment.user.userName}</span>` +
                                                `<span style="padding-left: 10px;font-size: small">${postComment.date}</span>` +
                                                `<p style="padding-left: 100px">${postComment.comment}</p>` +
                                            `</td>` +
                                        `</tr>`
                            }
                        </script>
                    </div>
                    <!--Và Minh Beos đã rời khỏi đây post your comment end-->

                </div>
<!--                    toan-->
                <script >

                     let myVar = setInterval(toan_loadFriendStatus, 2000);

                    function toan_loadFriendStatus() {

                        $.ajax({
                            type: "GET",
                            url: "/bell-notification/",
                            success: function (data) {
                                let content = "";
                                for (let i = 0; i < data.length; i++) {
                                    content += getUsers1(data[i]);
                                }
                                content = `<table id="friendListRequest"> <thead> </thead> <tbody>` + content + `</tbody><tfoot></tfoot></table>`;
                                document.getElementById('friendListRequest').innerHTML = content;
                                document.getElementById('signalNumber').innerHTML = data.length;
                            }
                        })
                        event.preventDefault();

                        function getUsers1(user) {
                            let content = `<tr><td><img src="../${user.avatarURL}" alt="Avatar"
                                      style="width:50px; height:50px; border-radius: 50%"></td>
                    <td><a href="/show-personal-page/${user.userId}" style="padding-left: 10px" >${user.userName} </a> </td>
                     <td>  <button style="margin-right: 150px" a="${user.userId}" onclick="acceptFriendRequest(this)" >accept
                    </button></td>
                     <td>  <button style="margin-right: 150px" a="${user.userId}" onclick="toan_removeFriend2(this)" >Refuse
                    </button></td>

                    </tr>`;
                            return content;
                        }
                    };
                     function toan_removeFriend2(e) {
                         let idFriend = e.getAttribute("a");
                         $.ajax({
                             type: "DELETE",
                             url: "/remove-friend/" + idFriend,
                             success: function () {
                             }
                         })
                         event.preventDefault();
                     }
                     function acceptFriendRequest(e) {
                         let idFriend = e.getAttribute("a");
                         $.ajax({
                             type: "GET",
                             url: `/accept?name=${idFriend}`,
                             success: function () {
                             }
                         })
                         event.preventDefault();
                     }


                </script>
            </th:block>

        </div>
        <!-- Middle Column End-->

        <!--        Right Column-->
        <div th:replace="layout::rightcolumn"></div>
        <!--        Right Column End-->
    </div>
</div>
<br>
<!--       Footer -->


<footer th:replace="layout::footer" style="position: fixed; bottom: 0px; width: 100%"></footer>
<!--       Footer End -->

<script>
    $('textarea').filter('[id*=content]').val('');
</script>

<!--chi find hashtag-->

<script>
    (function (win,doc) {
        'use strict';
        var siteURL = '/findtag',
            entries = doc.querySelectorAll('div.entry > p'),
            i;

        if ( entries.length > 0 ) {
            for (i = 0; i < entries.length; i = i + 1) {
                entries[i].innerHTML = entries[i].innerHTML.replace(/#(\S+)/g,'<a href="'+siteURL+'?tag=$1" title="Find more posts tagged with #$1">#$1</a>');
            }
        }

    }(this, this.document));
</script>
</body>
